%div
  %b Login:
  =h @user.login

%div
  %b Display name:
  =h @user.display_name

%div
  %b Email:
  =h @user.email

%div
  %b Login count:
  =h @user.login_count

%div
  %b Last request at:
  =h @user.last_request_at

%div
  %b Last login at:
  =h @user.last_login_at

%div
  %b Current login at:
  =h @user.current_login_at

= link_to 'Edit', edit_account_path
